<p>favorite works!</p>
<h2>Favorite fruit is now {{favFruit}}</h2>
<br />
<br />
<br/>

Post Title:<input type="text" [(ngModel)]="title">
Author: <input type="text" [(ngModel)]="author">

<button (click) ="submitPost()"> Submit Post</button> <br/>
ID To Delete<input type="number" [(ngModel)]="deleteID">
<button (click) ="deletePost()"> Delete Post</button> <br/>

ID To Edit: <input type = "number" [(ngModel)]="editID">
Post Title:<input type="text" [(ngModel)]="titleEdit">
Author: <input type="text" [(ngModel)]="authorEdit">

<button (click) ="editPost()"> Edit Post</button> <br/>

<div *ngFor="let post of posts">
    <p>ID: {{post?.id}}</p>
    <p>Author: {{post.author}}</p>
    <p>Title: {{post.title}}</p>
</div>